*
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

body
{
    background-color: black;
}

.navbar
{
    background-color: black;
    color: white;
    border: none;
}

.navbar-default .navbar-nav li a
{
    color: white;
    position: relative;
    text-decoration: none;
}

.navbar-default .navbar-nav li a::before
{
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    bottom: 13px;
    left: 10px;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.navbar-default .navbar-nav li a:hover::before
{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default .navbar-nav li a:hover
{
    color:white;
}

/* .collapse .navbar-collapse .navbar-nav li a:hover
{
    background-color: green;
} 
Want this to have the styling of elements in the collapsed menus change when collapsed and when hovering*/

.jumbotron
{
    position: relative;
    height: 650px;
    width: 100%;
    background-image: url("../Site2.0-Bootstrap/assets/sitepic.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: difference;
    box-shadow: 10px 10px 10px 10px black inset;
    /* border-radius: 50%; */
    /*Border radius not working well*/
}

.table
{
    border: 2px solid white;
    /* border: 0px; */
}

tr
{
    /* border: 0px; */
    margin: 0px auto;
    padding: 0px;
}

td
{
    border: 2px solid white;
    /* border: 0px; */
    text-align: center;
    margin: 0px auto;
    width: auto;
    height: 200px;
}

img
{
    width: 250px;
    height: 187px;
}

article
{
    padding: 50px;
}

a
{
    font-weight: 700;
}

a.ghLinks:hover
{
    color: orange;
}