<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    Aaron Bugden
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="hireBtn" data-toggle="modal" data-target="#loginModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <hr>
        <br>
        <br>
        <div class="row">
            <div class="col col-lg-4">
                <div class="thumbnail">
                    <a href="https://aaronbugden210.github.io/Crystals-Collector/"alt="Crystal Collector Repo">
                        <img class="thumbImg" id="crystals" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4f/Beavis_and_Butt-head_titlecard.png/250px-Beavis_and_Butt-head_titlecard.png">
                    </a>
                    <div class="caption">
                        <h3>Crystal Collector</h3>
                        <p>This is a simple game that has the user try to hit a randomly generated score by
                            clicking on the crystal buttons, each with their own randomly generated value.
                            It was written using jQuery. I made some updates a few months after completion to make
                            it object oriented.
                            <br>
                            <a class="ghLinks" href="https://aaronbugden210.github.io/Crystals-Collector/">The Web Page</a>
                            <br>
                            <a class="ghLinks" href="https://github.com/aaronbugden210/Crystals-Collector">
                                Link to the Repo
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="thumbnail">
                    <a id="petMatch" href="https://github.com/snarfblam/pet-match" alt="Pet Match Repo">
                        <img class="thumbImg" src="https://cms.qz.com/wp-content/uploads/2019/06/19br43wo5k7g7jpg.jpeg?quality=75&strip=all&w=410&h=230.625">
                    </a>
                    <div class="caption">
                        <h3>Pet Match</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                            <br>
                            <a class="ghLinks" href="https://github.com/snarfblam/pet-match">Link to the Repo</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="thumbnail">
                    <a id="pieChart" href="https://github.com/aaronbugden210/PersonalSite" alt="This site's repo">
                        <img class="thumbImg" src="https://cache.escapistmagazine.com/2019/07/06091716/stranger_things_season_3_2019_5k-1920x1080.jpg">
                    </a>
                    <div class="caption">
                        <h3>Pie Chart</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                            <br>
                            <a class="ghLinks" href="https://github.com/aaronbugden210/PersonalSite">Link to the Repo</a>
                        </p>
                    </div>
                </div>
            </div>
                <!-- <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label for="crystals">Crystal Collector</label>
                                <a id="crystals" href="https://aaronbugden210.github.io/Crystals-Collector/"
                                    alt="Crystal Collector Repo"><img
                                        src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4f/Beavis_and_Butt-head_titlecard.png/250px-Beavis_and_Butt-head_titlecard.png">
                                </a>
                            </td>
                            <td class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <article>
                                    This is a simple game that has the user try to hit a randomly generated score by
                                    clicking on the crystal buttons, each with their own randomly generated value.
                                    It was written using jQuery. I made some updates a few months after completion to make
                                    it object oriented
                                    <br>
                                    <a class="ghLinks" href="https://aaronbugden210.github.io/Crystals-Collector/">The Web Page</a>
                                    <br>
                                    <a class="ghLinks" href="https://github.com/aaronbugden210/Crystals-Collector">
                                        Link to the Repo
                                    </a>
                                </article>
                            </td>
                        </tr>
                        <tr class="bottomRows">
                            <td class="col-lg-3 col-md-3 col-sm-1 col-xs-1">
                                <label for="petMatch">Pet Match</label>
                                <a id="petMatch" href="https://github.com/snarfblam/pet-match" alt="Pet Match Repo">
                                    <img src="https://cms.qz.com/wp-content/uploads/2019/06/19br43wo5k7g7jpg.jpeg?quality=75&strip=all&w=410&h=230.625">
                                </a>
                            </td>
                            <td class="col-lg-9 col-md-9 col-sm-1 col-xs-1">
                                <article>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum.
                                    <br>
                                    <a class="ghLinks" href="https://github.com/snarfblam/pet-match">Link to the Repo</a>
                                </article>
                            </td>
                        </tr>
                        <tr class="bottomRows">
                            <td class="col-lg-3 col-md-3 col-sm-1 col-xs-1">
                                <label for="pieChart">Work Productivity</label>
                                <a id="pieChart" href="https://github.com/aaronbugden210/PersonalSite" alt="This site's repo">
                                    <img
                                        src="https://cache.escapistmagazine.com/2019/07/06091716/stranger_things_season_3_2019_5k-1920x1080.jpg">
                                </a>
                            </td>
                            <td class="col-lg-9 col-md-9 col-sm-1 col-xs-1">
                                <article>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum.
                                    <br>
                                    <a class="ghLinks" href="https://github.com/aaronbugden210/PersonalSite">Link to the
                                        Repo</a>
                                </article>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
        </div>  
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>